# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
!README.md
!admin/controller/extension/module/owlproducts.php
!admin/language/en-gb/extension/module/owlproducts.php
!admin/language/fa-ir/extension/module/owlproducts.php
!admin/view/template/extension/module/owlproducts.php
!catalog/controller/extension/module/owlproducts.php
!catalog/language/en-gb/extension/module/owlproducts.php
!catalog/language/fa-ir/extension/module/owlproducts.php
!catalog/view/theme/default/template/extension/module/owlproducts.php
